.button-holder {
    margin: 10px;
    float:left;
}

#heading {
    color: blueviolet;
    font-size: 60px;
    margin-left:35%;
    margin-right:35%;
    font-family:  fantasy;
}

#gifResults {
    clear:both;
    width:90%;
    margin-left:5%;
    margin-right:5%;
}

#currentTopic {
    margin:  20px, 20px, 20px, 20px;
}

img {
    margin-left: 20%;
    margin-right:20%;
    margin-bottom:10px;
    border-color: black;
    display:block;

}

.images { 
    position: relative; 
    width: 20%;
    margin-left:5%;
    margin-right:5%;
    margin-top:30px;
    float:left;
 }
 
 .rating { 
    position: relative; 
    margin-left: 20%; 
    margin-right:30px;
    margin-bottom:5px;
    margin-top:10px;
    display:block; 
 }